{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container">
        <section>
            <div class="form-box w-100 m-auto">
                {% include 'partials/_alerts.html' %}
                
                <form action="{% url 'create_sharer' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <h4>
                            Crie e compartilhe uma nova senha para o usuário
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="username">Usuário</label>
                        <select class="form-control" name="username" id="username" required>
                            {% for user in users %}
                            <option title="{{user.username}}" value="{{user.username}}">{{user.username}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="form-label" for="password">Nova senha</label>
                        <div class="row">
                            <div class="col-8 form-group">
                                <input class="form-control" type="text" id="password" name="password" required>
                            </div>
                            <div class="col-4 form-group">
                                <button class="btn btn-primary w-100" type="button" onclick="generateRandomPassword()">Gerar</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="limit_visits">Limite de acessos</label>
                        <input class="form-control" type="number" id="limit_visits" name="limit_visits" required value="7">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="limit_datetime">Data limite de acesso</label>
                        <input class="form-control" type="date" id="limit_datetime" name="limit_datetime" required value="{{date}}">
                    </div>
                    <div>
                        <button class="btn btn-success w-100 btn-lg" type="submit">Gerar link de compartilhamento</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

{% endblock %}