{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <section>
        {% include 'partials/_alerts.html' %}
        <h1>
            Login
        </h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="text" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Entrar</button>
            </div>
        </form>
    </section>
</div>

{% endblock %}