@import url(css/bootstrap.min.css);

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./fonts/PlusJakartaSans-Italic-VariableFont_wghtt.ttf") format("truetype"),
         url("./fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype")
}


html,body{
    font-family: "Plus Jakarta Sans";
    height: 100%;
    background-color: #f5f5f5;
}
body{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.centralizer {
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.form-box {
    max-width: 24rem;
}

.form-login {
    padding: 2.4rem;
    border-radius: .8rem;
    background-color: #ffffff;
    box-shadow: 1rem 1rem 2rem rgb(0 0 0 / 8%);
}

.title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
